.container {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-padding-top: 0;
  scroll-margin-top: 0;
  scroll-behavior: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.player {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  margin: 70px 0 500px 0;
}
